@model ContatoModel
@{
    ViewData["Title"] = "Confirmação apagar o contato";
}
<div class="text-center">
    <h3 class="display-4">Realmente deseja apagar o contato (@Model.Nome)?</h3>
</div>

<a class="btn btn-primary btn-block" asp-controller="Contato" asp-action="Index"  role="button">Cancelar exclusão</a>
<a class="btn btn-danger btn-block"  asp-controller="Contato" asp-action="Apagar" asp-route-id="@Model.Id" role="button">Confirmar exclusão</a>