@model HomeModel

@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">
    <h1 class="display-4">Listagem de contatos, @Model.Nome</h1>
    <p>Sistema de controle de contatos</p>
    <span>Seu e-mail é: @Model.Email </span>
</div>
